.item{
    width: 300px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color: rgb(235, 243, 221);
    box-shadow: 4px 4px 2px rgb(97, 59, 59);
}
.avatar{
margin-left: 30px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 5px;
}

.name{
    margin-left: 20px;
    font-weight: 700;
}
.status {
    margin-top: 20px;
    margin-left: 20px;
    fill: rgb(207, 48, 48);
    stroke:rgb(207, 48, 48)
}
.online{
    fill: rgb(6, 161, 6);
    stroke: rgb(6, 161, 6);
}
