.statistics{
    width: 400px;
    margin-top: 30px;
    background-color: rgb(236, 214, 186);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.title{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    
}
.statlist{
    display: flex;
    flex-direction: row;
    
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: beige;
   }
.label{
font-size: 18px;
padding: 10px;

}
.percentage{
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
    
}